# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# RabbitMQ
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password

# JWT
JWT_SECRET=my-super-secret-key-for-dev-environment-at-least-256-bits-long!!
JWT_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000

